#include <windows.h>
#include "resource.h"

IDI_APP_ICON                ICON    "app.ico"
IDD_MAIN_DIALOG DIALOGEX 0, 0, 760, 440
STYLE DS_SETFONT | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX | WS_THICKFRAME | WS_MAXIMIZEBOX
CAPTION "My Dynamic Wallpaper"
FONT 9, "Segoe UI"
BEGIN
    LTEXT           "Темы:", -1, 10, 10, 150, 12
    LISTBOX         IDC_THEME_LIST, 10, 25, 200, 330, WS_VSCROLL | WS_TABSTOP

    CONTROL         "", IDC_PREVIEW, "Static", SS_BITMAP | SS_CENTERIMAGE | WS_BORDER, 220, 10, 530, 330

    LTEXT           "Рассвет:", -1, 10, 370, 50, 12
    LTEXT           "", IDC_DAWN_INFO, 40, 370, 90, 12
    LTEXT           "Закат:", -1, 150, 370, 40, 12
    LTEXT           "", IDC_DUSK_INFO, 170, 370, 90, 12
    LTEXT           "", IDC_POLAR_INFO, 10, 390, 300, 12

    LTEXT           "Интервал:", -1, 330, 390, 60, 12
    LTEXT           "", IDC_SECTOR_INTERVAL, 390, 390, 120, 12

    COMBOBOX        IDC_SEASON_COMBO, 220, 410, 100, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_SECTOR_COMBO, 330, 410, 100, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "<", IDC_PREV_BUTTON, 440, 410, 20, 18, BS_OWNERDRAW
    PUSHBUTTON      ">", IDC_NEXT_BUTTON, 465, 410, 20, 18, BS_OWNERDRAW
    PUSHBUTTON      "Применить", IDC_APPLY_BUTTON, 500, 410, 60, 18, BS_OWNERDRAW
    PUSHBUTTON      "Настройки", IDC_SETTINGS_BUTTON, 570, 410, 60, 18, BS_OWNERDRAW
END

IDD_SETTINGS_DIALOG DIALOGEX 0, 0, 340, 180
STYLE DS_SETFONT | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX | WS_THICKFRAME | WS_MAXIMIZEBOX
CAPTION "Настройки"
FONT 9, "Segoe UI"
BEGIN
    LTEXT           "Город:", -1, 10, 15, 60, 12
    COMBOBOX        IDC_CITY_COMBO, 80, 15, 220, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Широта:", -1, 10, 50, 60, 12
    EDITTEXT        IDC_LAT_EDIT, 80, 47, 180, 12, ES_AUTOHSCROLL | WS_BORDER
    LTEXT           "Долгота:", -1, 10, 75, 60, 12
    EDITTEXT        IDC_LON_EDIT, 80, 72, 180, 12, ES_AUTOHSCROLL | WS_BORDER

    PUSHBUTTON      "Сохранить", IDC_SAVE_BUTTON, 10, 110, 80, 18, BS_OWNERDRAW
    PUSHBUTTON      "Назад", IDC_BACK_BUTTON, 100, 110, 80, 18, BS_OWNERDRAW
END

IDD_LOCATION_DIALOG DIALOGEX 0, 0, 320, 170
STYLE DS_SETFONT | WS_CAPTION | WS_SYSMENU
CAPTION "Настройка координат"
FONT 9, "Segoe UI"
BEGIN
    LTEXT           "Город:", -1, 10, 10, 60, 12
    COMBOBOX        IDC_CITY_COMBO, 80, 10, 210, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Широта:", -1, 10, 45, 60, 12
    EDITTEXT        IDC_LAT_EDIT, 80, 42, 210, 12, ES_AUTOHSCROLL | WS_BORDER
    LTEXT           "Долгота:", -1, 10, 70, 60, 12
    EDITTEXT        IDC_LON_EDIT, 80, 67, 210, 12, ES_AUTOHSCROLL | WS_BORDER

    PUSHBUTTON      "Сохранить", IDC_SAVE_BUTTON, 10, 100, 100, 18, BS_OWNERDRAW
    PUSHBUTTON      "Отмена", IDC_CANCEL_BUTTON, 120, 100, 100, 18, BS_OWNERDRAW
END